.activity-notes-card{
    background-color: aqua;
    width: 1000px;
    height: 1000px;
}

.notes-card{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid black;
}

.note-card-temp{
    background-color: rgb(7, 129, 54);
}