@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.case-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 45px;
  justify-content: space-between;
}

.case-card h3 {
  margin-top: 0;
  font-size: 20px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.case-card-link {
  text-decoration: none;
  color: inherit;
}

.case-card {
  transition: all 0.2s ease;
  cursor: pointer;
}

/* Hover effect */
.case-card:hover {
  background-color: #fafafa; /* light highlight */
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.search-bar {
  width: 100%;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: larger;
}
