.summary-card{
    border: 1px solid red;
    min-width: 350px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tickettype{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datestamp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#actiontaken{
    padding: 15px;
    background-color: green;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
}

#casenum{
    margin-left: 10px;
}

#flag{
    max-width: 25px;
}

#priority{
    max-width: 45px;
}